@import "./reset";

body {
  font-family: "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #222;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

// Start here
